<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item active">Article</li>
</ol>
<div class="row mt20">
  <div class="col-md-3">
    <%= render 'layouts/leftLayout', :category => @category%>
  </div>
  <div class="col-md-9">
    <div class="no-border mt20">
      <div class="page-header">
        <h5>
          <%= @categoryName.name%>
        </h5>
      </div>
    </div>
    <hr />
    <% @category_.each do |data| %>
        <div class="blog-post">
          <% Article.where(:id =>data.article_id).each do |dataArc| %>
              <h7 class="blog-post-title"><b><%= link_to " #{dataArc.title}".html_safe, article_path(dataArc)%></b></h7>
              <p class="blog-post-meta"><i class="fa fa-clock-o"></i> <%= dataArc.create_at.strftime('%m/%d/%Y') %> by <%= link_to " #{dataArc.account.name}".html_safe, '#'%>  <i class="fa fa-eye"></i> <%= dataArc.view %> view
                <i class="fa fa-tag"></i>
                  <%= link_to " #{data.categorie.name}".html_safe, categorie_path(data) %>
              </p>
              <p>
                <%=
                  truncate(dataArc.body, :length => 150,  :separator => ' ') do
                    link_to "see more".html_safe, article_path(dataArc)
                  end
                %>
              </p>
          <% end %>
        </div>
    <% end %>
    <%= will_paginate @category_, :container => false %>
  </div>
</div>
